body{
	font-family: "Noto Sans KR", sans-serif;
}

.container.fixed-width{
    max-width: 1500px;
    width: 100%;
	height: 5000px;
}


.infoBox {
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 300px;
	background: rgba(207, 207, 207, 0.26);
}

.memberInfo {
	position: absolute;
	margin-top: 40px;
	margin-left: 50px;
	width: 100%;
	height: 100%;
	display: flex;
}

.profileimg {
	border-radius: 100%;
	width: 130px;
	margin-right: 20px;
}

.memberInfo2 {
	margin-top: 30px;
	width: 70%;
}

.memberInfo3 {
	display: flex;
	margin-bottom: 10px;
}

.count {
	position: absolute;
	top: 75%;
	left: 18%;
}

.main{
    display: flex;
    margin-top: 70px;
    height: 700px;
}

.category {
	width: 150px;
	height: 200px;
}

.myMovie{
	background: #fdd000;
	color: white;
}

.myMovie, .myProduct, .myStamp, .myEdit {
	display: flex; 
	transition-duration: 0.5s;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center;     /* 세로 중앙 정렬 */
	height: 50px;
    min-width: 150px;
}

.myProduct:hover, .myStamp:hover, .myEdit:hover {
	background: #fdd000;
	color: white;
}

.content{
    margin-left: 50px;
}

.title{
    width: 200px;
}

.movieul{
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
    width: 1200px;
}

.movieul h3{
    cursor: pointer;
}


.postimg{
    width: 120px;
    cursor: pointer;
}

.movieInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.movieInfo a{
    color: rgba(83, 83, 83, 0.664);
}

.page{
	width: 100%;
	margin-top: 50px;
	text-align: center;
}