@charset "UTF-8";

.myProduct--main{
    display: flex;
    margin-top: 70px;
    height: 700px;
}

.myProduct--category {
	width: 150px;
	height: 200px;
}

.myProduct--myProduct{
	background: #fdd000;
}

.myProduct--myProduct a{
	color: white;
	text-decoration: none;
}

.myProduct--myMovie, .myProduct--myProduct, .myProduct--myStamp, .myProduct--myEdit {
	display: flex; 
	transition-duration: 0.5s;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center;     /* 세로 중앙 정렬 */
	height: 50px;
    min-width: 150px;
}

.myProduct--myMovie:hover, .myProduct--myStamp:hover, .myProduct--myEdit:hover {
	background: #fdd000;
}

.myProduct--myMovie a, .myProduct--myStamp a, .myProduct--myEdit a {
	transition-duration: 0.5s;
	color: black;
	text-decoration: none;
}

.myProduct--myMovie:hover a, .myProduct--myStamp:hover a, .myProduct--myEdit:hover a {
	color: white;
}

.myProduct--content{
    margin-left: 50px;
}

.myProduct--title{
    width: 200px;
}

#protable{
	margin-top: 60px;
	width: 900px;
	text-align: center;
	border-collapse: collapse;
}

#protable td {
    vertical-align: middle; /* 셀의 내용을 수직으로 중앙 정렬 */
}

.myProduct--storeimg{
	width: 100px;
	height: 100px;
    cursor: pointer;
}

#proacobody {
	text-align: center;
}

#proacotext {
	cursor: pointer;
}