@charset "UTF-8";

.myStamp--main{
    display: flex;
    margin-top: 70px;
    height: 700px;
}

.myStamp--category {
	width: 150px;
	height: 200px;
}

.myStamp--myStamp{
	background: #fdd000;
}

.myStamp--myStamp a{
	color: white;
	text-decoration: none;
}

.myStamp--myMovie, .myStamp--myProduct, .myStamp--myStamp, .myStamp--myEdit {
	display: flex; 
	transition-duration: 0.5s;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center;     /* 세로 중앙 정렬 */
	height: 50px;
    min-width: 150px;
}

.myStamp--myMovie:hover, .myStamp--myProduct:hover, .myStamp--myEdit:hover {
	background: #fdd000;
}

.myStamp--myMovie a, .myStamp--myProduct a, .myStamp--myEdit a {
	transition-duration: 0.5s;
	color: black;
	text-decoration: none;
}

.myStamp--myMovie:hover a, .myStamp--myProduct:hover a, .myStamp--myEdit:hover a {
	color: white;
}

.myStamp--content{
    margin-left: 50px;
}

.myStamp--title{
    width: 100px;
}

.myStamp--title2{
	width: 70px;
}

.myStamp--stampinfo{
	margin-bottom: 100px;
}

.myStamp--stampinfo td {
	text-align: center;
	border: 3px solid #fdd000;
	width: 80px;
	height: 80px;
	border-radius: 10px;
}

.myStamp--table{
	width: 100px;
	height: 100px;
	border-collapse: collapse;
}

.myStamp--stampimg{
	width: 80px;
}

.myStamp--couponinfo{
	width: 800px;
}

.myStamp--coupon{
	width: 200px;
	height: 190px;
	border-radius: 15px;
	border: 3px solid;
	border-color: #fdd000;
	padding: 30px;
	transition-duration: 0.5s;
}

.myStamp--couponbtn{
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background: #fdd000;
	color: white;
	transition-duration: 0.5s;
}

.myStamp--couponbtn:hover{
	background: #b9b9b9;
	
}

#myStamp--col {
	margin-bottom: 50px;
}